@CHARSET "UTF-8";

body {
	margin: 0px;
	padding: 0PX;
	background-color: rgb(218, 213, 213);
}

#userinfo {
	height: 200px;
	background-color: white;
	margin: 50px 100px 10px;
}

#head {
	float: left;
	width: -moz-max-content;
	margin: 10px;
	padding: 0px 40px 0px 0px;
}

#nickname {
	font-size: 20PX;
	margin: 10px auto 10px auto;
}

#info {
	float: left;
	margin: 20PX auto 0px;
}

#focus_num, #fans_num {
	border-right: 1px solid rgb(240, 240, 240);
	float: left;
	font-size: 14px;
	color: rgb(153, 153, 153);
	text-align: center;
	overflow: hidden;
	margin: 0px;
}

#head b {
	color: rgb(51, 51, 51);
	display: block;
	width: 54px;
	text-align: center;
	line-height: 14px;
	float: left;
}

#headImage {
	width: 110PX;
}

#normal, #order {
	margin: 10px auto 10px auto;
}

#normal {
	border-bottom: 1px groove rgb(23, 45, 67);
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#order_online {
	margin: -5px 5px;
	width: 25px;
}

}
#number {
	margin: 15px 0px 0px -15px;
}

#f {
	font-size: 14px;
	color: rgb(153, 153, 153);
	padding: 0px 15px;
}

#friend {
	background-color: orange;
	height: 200px;
	margin: 0px 100px 10px;
}

#crowdOrUser {
	text-align: center;
	background-color: white;
	height: auto;
	margin: 0px 100px 10px;
}

#title {
	text-align: left;
	width: -moz-max-content;
	font-size: 20px;
}

#crowdOrUser .crowd img {
	width: 110px;
}

#crowdOrUser .crowd .img {
	width: -moz-max-content;
}

#crowdOrUser #list {
	text-align: left;
	border-bottom: 2px solid rgb(88, 213, 191);
	padding-bottom: 11px;
	margin-right: 10px;
}

}
#crowdOrUser #list span {
	color: rgb(57, 249, 9);
	font-weight: 700;
	font-size: 20px;
	line-height: 38px;
	padding: 10px;
}

.span_list {
	padding: 10px;
}

#crowdOrUser #list span:hover {
	border-bottom: 3px solid rgb(53, 181, 88);
	color: green;
	padding-bottom: 1ex;
}

#crowdOrUser #content div {
	width: 500px;
	margin: 5px 25px;
	background-color: rgb(198, 181, 181);
	height: 100px;
	border-radius: 6px;
}

#crowdOrUser #content {
	float: inherit;
	overflow: auto;
	width: 900px;
	height: 300px;
}

#crowdOrUser #content #content_list {
	background-color: white;
	border: 1px solid rgb(20, 20, 20);
}

#crowdOrUser #content #content_list .user_head {
	width: -moz-max-content;
	float: left;
	margin: 10px 10px 10px 10px;
}

#crowdOrUser #content #content_list .users_info {
	text-align: left;
	width: 450px;
	margin: 5px 10px -10px;
}

#crowdOrUser #content #content_list .users_info dt {
	margin-bottom: 5px;
	background-color: white;
}

#crowdOrUser #content #content_list .focus_fans {
	background-color: gray;
}

#crowdOrUser #content .headimage img {
	width: 60px;
	border-radius: 15px;
}

/* 选择列表  */
#crowdOrUser #dl_list {
	margin: 0px 0px 20px 30px;
	padding-top: 10px;
	font-size: 20px
}
#ccy{
	width: 200px;
	height: 300px;
}