@CHARSET "UTF-8";
/* body{
	margin: 0px;
	padding: 0px;
} */
#head{
	width:100%;
	padding:0px;
	margin-bottom:10px;
	border-bottom: 1px solid black;	
}
#time{
	color: gray;
}
#content img{
	width:100%;
}
#content{
	width:100%;
}
#downloadSubmit{
	background-color: rgb(50, 252, 20);
	border-radius: 10px;	
}