<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd"
	>
	<bean id="EssayOuterDAO" class="com.atm.daoDefined.bbs.EssayOuterDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="EssayClickDAOImpl" class="com.atm.dao.impl.bbs.EssayClickDAOImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="CollectEssayViewDAO"
		class="com.atm.daoDefined.bbs.CollectEssayViewDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="PeopleRelationViewDAO"
		class="com.atm.daoDefined.bbs.PeopleRelationViewDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="LabelViewDAO"
		class="com.atm.daoDefined.bbs.LabelViewDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
		<bean id="LabelRelationViewDAO"
		class="com.atm.daoDefined.bbs.LabelRelationViewDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="EssayDetailViewDAO"
		class="com.atm.daoDefined.bbs.EssayDetailViewDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ClickGoodViewDAO"
		class="com.atm.daoDefined.bbs.ClickGoodViewDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="ReplyViewDAO"
		class="com.atm.daoDefined.bbs.ReplyViewDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ReplyClickGoodDAO"
		class="com.atm.daoDefined.bbs.ReplyClickGoodDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="IsReplyClickGoodViewDAO"
		class="com.atm.daoDefined.bbs.IsReplyClickGoodViewDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RecuitClickDAO"
		class="com.atm.dao.impl.bbs.RecuitClickDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ApplyClickDAO"
		class="com.atm.dao.impl.bbs.ApplyClickDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
</beans>
