<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	<bean id="CrowdRecordViewDAO"
		class="com.atm.daoDefined.chat.CrowdRecordViewDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserLabelViewDAO"
		class="com.atm.daoDefined.user.UserLabelViewDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RecuitViewDAO"
		class="com.atm.daoDefined.RecuitViewDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ApplyViewDAO" class="com.atm.daoDefined.ApplyViewDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CrowdListViewDAO"
		class="com.atm.daoDefined.chat.CrowdListViewDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserBasicInfoDAO"
		class="com.atm.daoDefined.user.UserBasicInfoDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="PrivateChatRecordDAO"
		class="com.atm.daoDefined.chat.PrivateChatRecordDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CrowdChatRecordDAO"
		class="com.atm.daoDefined.chat.CrowdChatRecordDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean></beans>
